nav ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
    text-align: center;
}
img{
    margin: 0px;
    padding: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
div{
    padding: 20px;
    background-color: white;
    margin: 0px;
    
}
  h1{
    color: white;
  }  

nav ul li{
    display:inline-block;
    margin-left: 20px;
}
nav ul li a{
 text-decoration: white;
 color: white;
 font-weight:bolder;
}
.content{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(red, green, blue, alpha);

}
body{
    background-color:#36494e;
    margin: 0px;
}
h4{
    color: white;
}